In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, OrdinalEncoder

from sklearn.preprocessing import PolynomialFeatures

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier

from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN

from sklearn.metrics import silhouette_score
from sklearn.model_selection import cross_val_score,StratifiedKFold, KFold, GridSearchCV
from sklearn.model_selection import GridSearchCV

from sklearn.impute import SimpleImputer
from sklearn.metrics import classification_report, accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [ ]:
!pip install category_encoders
import category_encoders as ce

Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)

In [ ]:
from google.colab import files
files.upload()

{}

In [ ]:
df = pd.read_csv('adult.csv')
df.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90         ?   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66         ?  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [ ]:
def summerize_data(df):
    for column in df.columns:
        print (column)
        if df.dtypes[column] == np.object: # Categorical data
            print (df[column].value_counts())
        else:
            print (df[column].describe()) 
            
        print ('\n')
    
summerize_data(df)

age
count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64


workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64


fnlwgt
count    3.256100e+04
mean     1.897784e+05
std      1.055500e+05
min      1.228500e+04
25%      1.178270e+05
50%      1.783560e+05
75%      2.370510e+05
max      1.484705e+06
Name: fnlwgt, dtype: float64


education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64


education.num
count    32561.000000
mean        10.080679
std          2.572720
min          1.000000
25%          9.000000
50%         10.000000
75%         12.000000
max         16.000000
Name: education.num, dtype: float64


marital.status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital.status, dtype: int64


occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64


relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64


race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64


sex
Male      21790
Female    10771
Name: sex, dtype: int64


capital.gain
count    32561.000000
mean      1077.648844
std       7385.292085
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max      99999.000000
Name: capital.gain, dtype: float64


capital.loss
count    32561.000000
mean        87.303830
std        402.960219
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       4356.000000
Name: capital.loss, dtype: float64


hours.per.week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours.per.week, dtype: float64


native.country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native.country, dtype: int64


income
<=50K    24720
>50K      7841
Name: income, dtype: int64

In [ ]:
df.replace('?',np.nan,inplace = True)

In [ ]:
df.head()

   age workclass  fnlwgt  ... hours.per.week  native.country income
0   90       NaN   77053  ...             40   United-States  <=50K
1   82   Private  132870  ...             18   United-States  <=50K
2   66       NaN  186061  ...             40   United-States  <=50K
3   54   Private  140359  ...             40   United-States  <=50K
4   41   Private  264663  ...             40   United-States  <=50K

[5 rows x 15 columns]

In [ ]:
categorical_features = df.columns[df.dtypes == object]
df[categorical_features].describe()

       workclass education      marital.status  ...    sex native.country income
count      30725     32561               32561  ...  32561          31978  32561
unique         8        16                   7  ...      2             41      2
top      Private   HS-grad  Married-civ-spouse  ...   Male  United-States  <=50K
freq       22696     10501               14976  ...  21790          29170  24720

[4 rows x 9 columns]

In [ ]:
X = df.drop(columns=['fnlwgt','education','income'])
y = np.where(df['income']=='>50K',1,0)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 10)

In [ ]:
X_train.head()

       age         workclass  ...  hours.per.week native.country
29849   20           Private  ...              10  United-States
30319   20           Private  ...              55  United-States
1878    47         State-gov  ...              50  United-States
20686   50  Self-emp-not-inc  ...              40            NaN
26007   39           Private  ...              40    Philippines

[5 rows x 12 columns]

In [ ]:
onehot_encoder = ['relationship','race','sex']
binary_encoder = ['workclass','marital.status','occupation','native.country']

binary_encoder_pipeline = Pipeline([
                                    ('imputer',SimpleImputer(strategy = 'constant',fill_value = 'NC')),
                                    ('binary encoder',ce.BinaryEncoder())
])


col_transformer = ColumnTransformer([
    ('onehot',OneHotEncoder(),onehot_encoder),
    ('binary encoder',binary_encoder_pipeline ,binary_encoder)
],remainder = 'passthrough')

In [ ]:
X_train_prep = col_transformer.fit_transform(X_train)
X_test_prep = col_transformer.transform(X_test)

In [ ]:
lr = LogisticRegression()
knn_c = KNeighborsClassifier()
rf_c = RandomForestClassifier()

In [ ]:
lr.fit(X_test_prep,y_test)
knn_c.fit(X_test_prep,y_test)
rf_c.fit(X_test_prep,y_test)

y_pred_lr = lr.predict(X_test_prep)
y_pred_knn = knn_c.predict(X_test_prep)
y_pred_rf_c = rf_c.predict(X_test_prep)

In [ ]:
print(classification_report(y_test,y_pred_lr))

              precision    recall  f1-score   support

           0       0.84      0.93      0.88      6182
           1       0.67      0.45      0.54      1959

    accuracy                           0.81      8141
   macro avg       0.76      0.69      0.71      8141
weighted avg       0.80      0.81      0.80      8141

In [ ]:
print(classification_report(y_test,y_pred_knn))

              precision    recall  f1-score   support

           0       0.91      0.94      0.93      6182
           1       0.79      0.71      0.75      1959

    accuracy                           0.89      8141
   macro avg       0.85      0.82      0.84      8141
weighted avg       0.88      0.89      0.88      8141

In [ ]:
print(classification_report(y_test,y_pred_rf_c))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      6182
           1       0.98      0.96      0.97      1959

    accuracy                           0.99      8141
   macro avg       0.99      0.98      0.98      8141
weighted avg       0.99      0.99      0.99      8141

Cross Val

In [ ]:
folds = StratifiedKFold(n_splits = 5, shuffle = True, random_state = 100)
lr_cv = cross_val_score(lr,X_train_prep,y_train,cv=folds).mean()
knn_cv = cross_val_score(knn_c,X_train_prep,y_train,cv=folds).mean()
rf_cv = cross_val_score(rf_c,X_train_prep,y_train,cv=folds).mean()

In [ ]:
print('Logistitic Regression Cross Val :' ,lr_cv )
print('Knn Cross Val :' ,knn_cv )
print('Random Forrest Cross Val :' ,rf_cv )

Logistitic Regression Cross Val : 0.8314905814905815
Knn Cross Val : 0.8447993447993447
Random Forrest Cross Val : 0.8533169533169532

In [ ]:
eclf = VotingClassifier(estimators=[ 
    ('lr', lr),
    ('rf',rf_c),
    ('knn', knn_c),
    ], voting='soft')

In [ ]:
params = {'lr__C': [1.0, 100.0],
      'knn__n_neighbors': range(2,10)}

In [ ]:
grid = GridSearchCV(estimator=eclf, param_grid=params, cv=2)
grid.fit(X_train_prep,y_train)

GridSearchCV(cv=2, error_score=nan,
             estimator=VotingClassifier(estimators=[('lr',
                                                     LogisticRegression(C=1.0,
                                                                        class_weight=None,
                                                                        dual=False,
                                                                        fit_intercept=True,
                                                                        intercept_scaling=1,
                                                                        l1_ratio=None,
                                                                        max_iter=100,
                                                                        multi_class='auto',
                                                                        n_jobs=None,
                                                                        penalty='l2',
                                                                        random_state=None,
                                                                        solver='lbfgs',
                                                                        tol=0.0001,
                                                                        verbose=0,
                                                                        warm_start=False)),
                                                    ('rf',
                                                     RandomForestClassifier(boots...
                                                     KNeighborsClassifier(algorithm='auto',
                                                                          leaf_size=30,
                                                                          metric='minkowski',
                                                                          metric_params=None,
                                                                          n_jobs=None,
                                                                          n_neighbors=5,
                                                                          p=2,
                                                                          weights='uniform'))],
                                        flatten_transform=True, n_jobs=None,
                                        voting='soft', weights=None),
             iid='deprecated', n_jobs=None,
             param_grid={'knn__n_neighbors': range(2, 10),
                         'lr__C': [1.0, 100.0]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
grid.best_params_

{'knn__n_neighbors': 8, 'lr__C': 100.0}

In [ ]:
best_cv = grid.best_estimator_.fit(X_train_prep, y_train)

In [ ]:
y_pred_grid = best_cv.predict(X_test_prep)

In [ ]:
print(accuracy_score(y_test,y_pred_grid))

0.8591082176636777

In [ ]:
print(classification_report(y_test,y_pred_grid))

              precision    recall  f1-score   support

           0       0.88      0.94      0.91      6182
           1       0.76      0.61      0.67      1959

    accuracy                           0.86      8141
   macro avg       0.82      0.77      0.79      8141
weighted avg       0.85      0.86      0.85      8141