In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn import datasets
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from matplotlib.colors import cnames
from itertools import cycle
from bokeh.plotting import output_notebook, output_file, figure, show, ColumnDataSource
from bokeh.models import HoverTool
import warnings
warnings.filterwarnings(action='ignore')
output_notebook()
%matplotlib inline

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/gdrive/MyDrive/Biker Sharing /# Final Project/Dataset/hour.csv')

In [ ]:
df.drop(columns=['instant','dteday'],axis=1,inplace=True)

In [ ]:
df

       season  yr  mnth  hr  holiday  ...   hum  windspeed  casual  registered  cnt
0           1   0     1   0        0  ...  0.81     0.0000       3          13   16
1           1   0     1   1        0  ...  0.80     0.0000       8          32   40
2           1   0     1   2        0  ...  0.80     0.0000       5          27   32
3           1   0     1   3        0  ...  0.75     0.0000       3          10   13
4           1   0     1   4        0  ...  0.75     0.0000       0           1    1
...       ...  ..   ...  ..      ...  ...   ...        ...     ...         ...  ...
17374       1   1    12  19        0  ...  0.60     0.1642      11         108  119
17375       1   1    12  20        0  ...  0.60     0.1642       8          81   89
17376       1   1    12  21        0  ...  0.60     0.1642       7          83   90
17377       1   1    12  22        0  ...  0.56     0.1343      13          48   61
17378       1   1    12  23        0  ...  0.65     0.1343      12          37   49

[17379 rows x 15 columns]

In [ ]:
X = df

In [ ]:
scaler = StandardScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)

In [ ]:
X_scaled.shape

(17379, 15)

In [ ]:
from sklearn.decomposition import PCA

# made 30 components
pca = PCA(n_components = 15)
pca.fit(X_scaled)

# transform the data
X_pca = pca.transform(X_scaled)

In [ ]:
variance = []

for i in range(0,15):
  variance.append(np.var(X_pca[:,i]))

In [ ]:
print('information extracted {} %'.format(np.sum(variance[:2])*100/np.sum(variance)))

information extracted 39.308641769883124 %